<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>מחקר</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<style media="all" type="text/css">
body{direction:rtl;margin:0;padding:0;background:#bbd9ee;color:#000;font-family:tahoma,arial,sans-serif;font-size:11px}form{margin:0;padding:0}img{border:none}a{color:#060606;text-decoration:none}a:hover{text-decoration:underline}input{vertical-align:middle}.floatright{float:right!important}.floatleft{float:left!important}.clear{clear:both!important}.bold{font-weight:700!important}.normal{font-weight:400!important}.block{display:block!important}input.text,select,textarea{font-family:arial,sans-serif;color:#333;font-size:12px;vertical-align:middle}input.text{padding:1px 0 0 4px;height:14px;font-weight:400}#main{width:992px;margin:0 auto}#header{position:relative;width:992px;height:106px;background:url(../img/bg-header.gif) no-repeat right bottom}a.logo{position:absolute;top:5px;right:20px}#top-navigation{position:absolute;top:60px;right:20px;margin:0;padding:0;list-style:none}#top-navigation li{float:right;margin:0 3px 0 0;height:34px;background:url(../img/tab.gif) repeat-x top}#top-navigation li a{float:right;display:block;height:20px;line-height:19px;color:#606060;padding:4px 0 0 0}#top-navigation li span{float:right;background:url(../img/tab-right.gif) no-repeat right top}#top-navigation li span span{background:url(../img/tab-left.gif) no-repeat left top;padding:7px 10px 0 10px}#top-navigation li.active{padding:0;height:34px;background:url(../img/tab-active.gif) repeat-x top;margin-left:2px}#top-navigation li.active span{background:url(../img/tab-active-right.gif) no-repeat right top;height:34px}#top-navigation li.active span span{background:url(../img/tab-active-left.gif) no-repeat left top;height:23px;padding:11px 10px 0 10px;line-height:19px;color:#606060}#middle{float:right;width:967px;background:url(../img/bg-middle.gif) repeat-y right;padding:0 13px 0 12px}#right-column{float:right;padding:1px 14px 0 12px;width:151px}#left-column{float:left;padding:0 9px 0 0;width:133px}#center-column{float:right;width:614px;background:url(../img/bg-center-column.jpg) no-repeat right top;min-height:584px;padding:12px 16px 0 13px}* html #center-column{height:584px}#footer{float:right;width:100%;background:url(../img/bg-footer.gif) no-repeat;height:15px}#right-column a{color:#3e3e3e}#right-column h3{font-size:11px;margin:0;color:#fff;background:url(../img/bg-right-header.gif) no-repeat right top;height:25px;line-height:23px;padding:0 0 0 9px}ul.nav{margin:0 0 11px 0;border-bottom:2px solid #ff9600;background:#ecefe7;list-style:none;padding:0 2px}ul.nav li{padding:4px 4px 6px 5px;background:url(../img/bg-dotted.gif) repeat-x bottom}ul.nav a{padding:0 0 0 12px;background:url(../img/arrow.gif) no-repeat 0 4px}ul.nav a:hover{font-weight:700}ul.nav li.last{background:0 0}#right-column .link{display:block;width:142px;height:25px;background:url(../img/bg-right-link.gif);margin:0 0 4px 0;font-weight:700;padding:0 0 0 9px;line-height:25px;color:#60635a}.top-bar{float:right;width:603px;border-right:2px solid #f70;padding:0 0 0 9px;margin:0 0 4px 0}.top-bar h1{font:20px/21px verdana,sans-serif;color:#43729f;margin:0 0 4px 0}.top-bar a.button{float:left;display:block;width:75px;height:35px;text-align:center;color:#fff;text-transform:uppercase;font-weight:700;line-height:27px;background:url(../img/bg-orange-button.gif) no-repeat}.select-bar{clear:both;border-top:2px solid #f70;border-bottom:2px solid #f70;padding:5px 0 3px 0;margin:0 0 17px 0}.select-bar select{width:145px;margin:0 2px}div.table{float:right;position:relative;width:614px;margin:0 0 37px 0}table.listing{border-bottom:1px solid #9097a9;width:613px;padding:0;margin:0;border:1px solid #9097a9}table.listing th{border-top:0!important}table.listing th.full{border-right:0;border-left:0!important;text-align:right;text-transform:uppercase}div.table img.right{position:absolute;top:0;right:0}div.table img.left{position:absolute;top:0;left:1px}table.listing td,table.listing th{border:1px solid #fff;text-align:center}table.listing th{background:#9097a9;color:#fff;padding:5px}table.listing td{background:#d8d8d8;color:#000;padding:3px 5px}table.listing .bg td{background:#ececec}table.listing .white td{background:#fff}table.listing .first{border-right:0 solid #9097a9;text-align:right}table.listing .last{border-left:0 solid #9097a9}table.listing th.first{background:#9097a9 url(../img/bg-th-right.gif) no-repeat right top;border-right:0}table.listing th.last{background:#9097a9 url(../img/bg-th-left.gif) no-repeat left top;border-left:0}table.listing .style1{font-weight:700;color:#ff7a00}table.listing .style2{font-weight:700;padding-right:16px}table.listing .style3{padding-right:25px}table.listing .style4{padding-right:35px}table.form .last{padding:1px 0 1px 5px;text-align:right}table.form td,table.form th{padding-right:10px}table.form input.text{width:262px}div.table .select{float:left;margin:2px 1px 0 0;width:176px;height:25px;background:#9097a9 url(../img/bg-select.gif);color:#fff}div.table .select strong{float:right;padding:5px 0 0 5px}div.table .select select{float:left;width:78px;margin:2px 3px 0 0;text-align:left}#left-column .h{float:right;background:#7e878a;border:1px solid #b8b8b8;border-bottom:0;padding:3px 10px;color:#fff;text-transform:uppercase}#left-column .box{float:right;width:121px;padding:5px;border:1px solid #b8b8b8;background:#ebebeb;margin:0 0 15px 0}.buttons{clear:both;text-align:center;padding:30px 0 15px 0}.buttons input{margin:0 0 6px 0}</style>
</head>
<body style="direction: rtl;">
<div id="main">
  <div id="header"> <a href="#" class="logo"><img src="/img/logo.gif" width="101" height="29" alt="" /></a>
    <ul id="top-navigation">
      <li class="active"><span><span>תוצאות מחקר</span></span></li>
    </ul>
  </div>
  <div id="middle">
    <div id="right-column"> <strong class="h"></strong>
      <div class="box">מעקה אחרי משתמשים בזמן אמת </div>
    </div>
    <div id="center-column">
      <div class="top-bar"> <a href="#" class="button">הצג EXCEL </a>
        <h1>תוצאות מחקר</h1>
        <div class="breadcrumbs"><a href="#">בית</a> / <a href="#">תוצאות מחקר</a></div>
      </div>
      <br />
      <div class="select-bar">
        <label>
        <input type="text" name="textfield" />
        </label>
        <label>
        <input type="submit" name="Submit" value="Search" />
        </label>
      </div>
      <div class="table"> <img src="/img/bg-th-left.gif" width="8" height="7" alt="" class="left" /> <img src="/img/bg-th-right.gif" width="7" height="7" alt="" class="right" />
        <table class="listing" cellpadding="0" cellspacing="0">
          <tr>
            <th class="first" width="177">משתתף</th>
            <th>שעה</th>
            <th>רעש</th>
            <th>light sleep</th>
            <th>deep sleep</th>
            <th>light</th>
            <th>noise</th>
            <th class="last">פעיל</th>
          </tr>
         
            <% for(let i=0; i<research.length; i++) { const r = research[i]; %>
              <tr>
              <td class="first style2"><%= r.user %></td>
              <td><%= r.date %> </td>
              <td><%= r.noise %> </td>
              <td><%= r.lightSleep %> </td>
              <td><%= r.deepSleep %> </td>
              <td><%= r.light %> </td>
              <td><%= r.active %> </td>
            </tr>
            <% } %>
          
        </table>
        <div class="select"> <strong>עוד: </strong>
          <select>
            <option>1</option>
          </select>
        </div>
      </div>
    </div>

    <div id="left-column">
      <h3>משתתפים</h3>
      <ul class="nav">
        <% for(let i=0; i<research.length; i++) { const r = research[i]; %>
          <li><a href="#"><%= r.user %></a></li>
        <% } %>
      </ul>
      <a href="#" class="link">Link here</a> <a href="#" class="link">Link here</a> </div>

  </div>
  <div id="footer"></div>
</div>
</body>
</html>
