<div class="popup-wrapper">
    <div id="popup-container">
        <h2> פריט חדש בהזמנה <br/> <%= orderid %> </h2>
        <form action="/royal/addorderproduct" method="POST" onsubmit="return validateAddOrderProduct();">
          <input type="hidden" name="orderid" value="<%= orderid %>">
          <input type="hidden" name="clientid" value="<%= clientid %>">
          <input type="hidden" name="clientname" value="<%= clientname %>">
          <input type="hidden" name="username" value="<%= admin.username %>">

          <datalist id="productslist">
            <% products.forEach(product => { %>
              <option value="<%= product.description %>">
            <% }); %>
          </datalist>
          <div class="form-group">
            <input placeholder="פריט:" class="leftinput" type="text" list="productslist" id="orderproduct" name="orderproduct" onchange="checkSavedPrices()" value="">
          </div>
            <div class="form-group">
              <input placeholder="מחיר ליחידה:" class="leftinput" type="number" step="0.01" name="orderproduct_price" id="orderproduct_price" value="" oninput="calcOrderproductTotal()">
            </div>
            <div class="form-group">
              <input class="leftinput" placeholder="כמות:" type="number" name="orderproduct_quantity" id="orderproduct_quantity" value="" oninput="calcOrderproductTotal()"><br/><br/>
            </div>
            <div class="form-group">
              <input class="leftinput" placeholder="סה'כ:" id="orderproduct_total" type="number" step="0.01" name="orderproduct_total" value="" readonly><br/><br/>
            </div>
            <br/>
        <div class="modal-footer">
          <input class="formcancel" type="reset" value="ביטול" herf="javascript:void(0)" onclick="openAddOrderproductForm()"> <input class="formsubmit" type="submit" value="אישור">
        </div>
      </form>
    </div>
</div>