<div class="popup-wrapper">
    <div id="popup-container">
        <h2> הזמנה חדשה </h2>
        <form action="/royal/addorder" method="POST" onsubmit="return validateAddOrder()">
          <input type="hidden" name="username" value="<%= admin.username %>">
          <datalist id="productslist">
            <% products.forEach(product => { %>
              <option value="<%= product.description %>">
            <% }); %>
          </datalist>
          <div class="form-group">
            <label> מזמין: </label> 
            <input type="text" name="client_data" value="<%= clientname %> (<%= clientid %>)" disabled>
            <input type="hidden" name="order_client_id" value="<%= clientid %>">
            <input type="hidden" name="order_client_name" value="<%= clientname %>">
          </div>
            <div class="form-group">
              <label> מזהה הזמנה: </label> 
              <input type="text" name="order_id" id="order_id" readonly style="width: 150px;">            
            </div>
            <div class="form-group">
              <label> תאריך הזמנה:</label> 
              <input placeholder="" type="date" name="order_date" id="order_date">
            </div>
            <div class="table" style="width: inherit;">
              <table class="container1">
                <tr><td> פריט </td><td> כמות </td><td> מחיר ליח' </td></tr>
                <tr><td><input type="text" list="productslist" name="products[]" class="product" value=""></td>
                <td><input type="number" name="quantities[]" class="quantity" value="1"></td>
                <td><input type="number" name="prices[]" class="price" value=""></td>
                <td><input type="number" class="rowprice" readonly></td>
              </tr>
            </table>
            </div>
            <button class="btn add_form_field" style="margin-top: 5pt;"> הוסף פריט &nbsp; 
                <span style="font-size:16px; font-weight:bold;"> + </span>
            </button>
            <input style="width:60pt; float: left; text-align: center;" id="total" type="number" name="order_total" value="0" readonly>
            <label style="float: left; padding: 12px;" for="total">ס"כ</label>
            <div class="form-group">
              <label> הערות </label> 
              <textarea placeholder="כמה תשלומים/איזהו כתיבה/אחר.." style="width: 100%;" type="textarea" name="notice"></textarea>
            </div>
        <div class="modal-footer">
          <input class="btn formcancel" type="reset" value="ביטול" herf="javascript:void(0)" onclick="openAddOrderForm()"> <input class="btn formsubmit" type="submit" value="אישור">
        </div>
      </form>
    </div>
</div>