<% include partials/header %>
<link rel="stylesheet" href="/home.css" type="text/css" />
	<!-- Document Title
	============================================= -->
	<title>ألف ألف - دورات تكنولوجية</title>

</head>

<body class="stretched rtl">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		<!-- Page Title
		============================================= -->
		<section id="page-title">

			<div class="container clearfix">
				<h1><%= title %></h1>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<% include partials/modal_register %>

					<div class="single-event">

						<div class="col_three_fourth">
							<div class="entry-image nobottommargin">
								<a href="#"><img src="/images/events/<%= img %>.jpg" alt="Event Single"></a>
								<div class="entry-overlay">
									<span class="d-none d-md-inline-block"> انتهاء التسجيل:</span><div id="event-countdown" class="countdown"></div>
								</div>
							</div>
						</div>
						<div class="col_one_fourth col_last">
							<div class="card events-meta mb-3">
								<div class="card-header"><h5 class="mb-0">معلومات مهمة</h5></div>
								<div class="card-body">
									<ul class="iconlist nobottommargin">
										<li><i class="icon-calendar3"></i> <%= start_date %></li>
										<li><i class="icon-time"></i> لقائين كل أسبوع</li>
										<li><i class="icon-map-marker2"></i> طمرة, شارع أبو بكر الصديق, 50 متر بعد دوار القدس</li>
										<li><i class="icon-shekel-sign"></i><strong>400</strong></li>
									</ul>
								</div>
							</div>
							<a href="#" class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#registerModal">سجل الان</a>
						</div>

						<div class="clear"></div>

						<div class="col_three_fourth">

							<h3>التفاصيل</h3>
							<% details.forEach( d => { %>
								<p><%= d %></p>
							<% }); %>
							<h4>المنهاج التعليمي</h4>

							<div class="col_half nobottommargin">

								<ul class="iconlist nobottommargin">
									<% syllabus[0].forEach(s => { %>
										<li><i class="icon-ok"></i><%= s %></li>
									<% }); %>
								</ul>

							</div>

							<div class="col_half nobottommargin col_last">

								<ul class="iconlist nobottommargin">
									<% syllabus[1].forEach(s => { %>
										<li><i class="icon-ok"></i><%= s %></li>
									<% }); %>
								</ul>

							</div>

						</div>

						<div class="col_one_fourth col_last">

							<h4>عن الدورة</h4>
							<p><%= about %></p>
						</div>

						<div class="clear"></div>

						<div class="col_two_fifth nobottommargin">

							<h4>صور</h4>

							<!-- Events Single Gallery Thumbs
							============================================= -->
							<div class="masonry-thumbs grid-4" data-lightbox="gallery">
								<a href="/images/events/1.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/events/thumbs/1.jpg" alt="Gallery Thumb 1"></a>
								<a href="/images/events/2.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/events/thumbs/2.jpg" alt="Gallery Thumb 2"></a>
								<a href="/images/events/3.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/events/thumbs/3.jpg" alt="Gallery Thumb 3"></a>
								<a href="/images/events/4.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/events/thumbs/4.jpg" alt="Gallery Thumb 4"></a>
								<a href="/images/events/5.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/events/thumbs/5.jpg" alt="Gallery Thumb 5"></a>
								<a href="/images/events/6.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/events/thumbs/6.jpg" alt="Gallery Thumb 6"></a>
								<a href="/images/events/7.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/events/thumbs/7.jpg" alt="Gallery Thumb 7"></a>
								<a href="/images/events/8.jpg" data-lightbox="gallery-item"><img class="image_fade" src="/images/events/thumbs/8.jpg" alt="Gallery Thumb 8"></a>
							</div><!-- Event Single Gallery Thumbs End -->

						</div>

						<div class="col_three_fifth nobottommargin col_last">

							<h4>الجدول الزمني</h4>

							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>تاريخ</th>
											<th>مكان</th>
											<th>تفاصيل</th>
											<th>المجموعة</th>
										</tr>
									</thead>
									<tbody>
										<% calender.forEach(cal => { %>
											<tr>
												<td><span class="badge badge-danger"><%= cal.date %></span></td>
												<td><%= cal.place %></td>
												<td><%= cal.detail %></td>
												<td><%= cal.group %></td>
											</tr>
										<% }); %>
									</tbody>
								</table>
							</div>

						</div>

					</div>

				</div>

			</div>

		</section><!-- #content end -->
	<% include partials/footer %>

	<script>

		jQuery(document).ready( function($){
			
			let eventStartDate =  new Date(<%-JSON.stringify(end_date)%>);
			console.log(eventStartDate);
			$('#event-countdown').countdown({until: eventStartDate});
		});

	</script>
</body>
</html>