<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700%7CRaleway:300,400,500,600,700,800,900%Nixie+One:400%7CAnton:400" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/fonts/font-awesome/css/font-awesome.css">

	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/settings.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/layers.css">
	<link rel="stylesheet" type="text/css" href="include/rs-plugin/css/navigation.css">

	<style>
	.inputGroup {
		background-color: #fff;
		display: block;
		margin: 10px 0;
		position: relative;
		border: 1px solid;
		border-radius: 30px;
	}
	.inputGroup label {
		padding: 8px 40px 10px 0;
		width: 100%;
		display: block;
		text-align: right;
		color: #3c454c;
		cursor: pointer;
		position: relative;
		z-index: 2;
		transition: color 200ms ease-in;
		overflow: hidden;
	}
	.inputGroup label:before {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		content: '';
		position: absolute;
		right: 50%;
		top: 50%;
		transform: translate(-50%, -50%) scale3d(1, 1, 1);
		transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
		opacity: 0;
		z-index: -1;
	}
	.inputGroup label:after {
		width: 32px;
		height: 32px;
		content: '';
		border: 2px solid #d1d7dc;
		background-color: #fff;
		background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
		background-repeat: no-repeat;
		background-position: 2px 3px;
		border-radius: 50%;
		z-index: 2;
		position: absolute;
		right: 5px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		transition: all 200ms ease-in;
	}
	.inputGroup input:checked ~ label {
		color: #0059ff;
	}
	.inputGroup input:checked ~ label:before {
		transform: translate(-50%, -50%) scale3d(56, 56, 1);
		opacity: 1;
	}
	.inputGroup input:checked ~ label:after {
		background-color: #0059ff;
		border-color: #0059ff;
	}
	.inputGroup input {
		width: 32px;
		height: 32px;
		order: 1;
		z-index: 2;
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		visibility: hidden;
	}
	.form {
		direction: rtl;
	}

	
	</style>
	<!-- Document Title
	============================================= -->
	<title>حركة البناء الحضارية</title>

</head>

<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="">

		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element revslider-wrap full-screen clearfix">

			<div id="rev_slider_430_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="rock-band-music" style="background-color:transparent;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.2.1 fullscreen mode -->
				<div id="rev_slider_430_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.2.1">
					<ul><!-- SLIDE  -->
						<li data-index="rs-1494" class="dark" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="include/rs-plugin/demos/assets/images/bg-muslim.png"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="5" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- BACKGROUND VIDEO LAYER -->
							<div class="rs-background-video-layer"
								data-forcerewind="on"
								data-volume="mute"
								data-videowidth="100%"
								data-videoheight="100%"
								data-videomp4="include/rs-plugin/demos/assets/images/ramadan-loop.mp4"
								data-videopreload="auto"
								data-videoloop="loop"
								data-forceCover="1"
								data-aspectratio="16:9"
								data-autoplay="true"
								data-autoplayonlyfirsttime="false"
								data-nextslideatend="true">
							</div>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper "
								 id="slide-1494-layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
											data-width="full"
								data-height="full"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;"
								 data-transform_out="opacity:0;s:300;s:300;"
								data-start="0"
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"

								style="z-index: 5;text-transform:left;background-color:rgba(51, 51, 51, 0.50);border-color:rgba(0, 0, 0, 0.50);"> </div>

							<!-- LAYER NR. 3 -->
							<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
								 id="slide-1494-layer-5"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
											data-width="full"
								data-height="['400','400','600','440']"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:bottom;s:1500;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:300;s:300;"
								data-start="1300"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 7;text-transform:left;background-color:rgba(0, 0, 0, 0.50);border-color:rgba(255, 255, 255, 1.00);"> </div>

							<!-- LAYER NR. 4 -->
							<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
								 id="slide-1494-layer-15"
								 data-x="['center','center','center','center']" data-hoffset="['241','221','441','441']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['74','74','74','74']"
											data-width="2"
								data-height="240"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:300;s:300;"
								data-start="1300"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 8;text-transform:left;background-color:rgba(255, 255, 255, 0.15);border-color:rgba(0, 0, 0, 0);"> </div>

							<!-- LAYER NR. 5 -->
							<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
								 id="slide-1494-layer-17"
								 data-x="['center','center','center','center']" data-hoffset="['-241','-221','-431','-431']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['73','73','73','73']"
											data-width="2"
								data-height="240"
								data-whitespace="nowrap"
								data-visibility="['on','on','off','off']"
								data-transform_idle="o:1;"

								 data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:300;s:300;"
								data-start="1300"
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 9;text-transform:left;background-color:rgba(255, 255, 255, 0.15);border-color:rgba(0, 0, 0, 0);"> </div>

							<div class="bxslider">
								<div class="mySlides">
									<!-- LAYER NR. 6 -->
									<div class="tp-caption RockBand-LogoText   tp-resizeme"
									id="slide-1494-layer-9"
									data-x="['center','center','center','center']" data-hoffset="['-430','-370','-170','0']"
									data-y="['bottom','bottom','bottom','bottom']" data-voffset="['290','290','260','150']"
												data-fontsize="['25','25','25','25']"
									data-lineheight="['25','25','25','20']"
									data-width="['300','240','300','380']"
									data-height="none"
									data-whitespace="normal"
									data-transform_idle="o:1;"

									data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
									data-transform_out="opacity:0;s:300;s:300;"
									data-start="1750"
									data-splitin="none"
									data-splitout="none"
									data-basealign="slide"
									data-responsive_offset="on"
									data-textAlign="right"


									style="z-index: 10; min-width: 300px; max-width: 300px; white-space: normal; font-size: 25px; line-height: 25px; font-weight: 400;text-transform:left; text-shadow: 0px 2px 5px orange;">
									مسابقة الأسبوع الثاني</div>

									<!-- LAYER NR. 7 -->
									<div class="tp-caption RockBand-LogoText   tp-resizeme"
											id="slide-1494-layer-12"
											data-x="['center','center','center','center']" data-hoffset="['-430','-370','-170','-80']"
											data-y="['bottom','bottom','bottom','bottom']" data-voffset="['170','170','140','40']"
													data-fontsize="['20','20','20','20']"
										data-lineheight="['30','30','30','25']"
										data-width="['300','240','300','180']"
										data-height="none"
										data-whitespace="normal"
										data-transform_idle="o:1;"

											data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
											data-transform_out="opacity:0;s:300;s:300;"
										data-start="1900"
										data-splitin="none"
										data-splitout="none"
										data-basealign="slide"
										data-responsive_offset="on"
										data-textAlign="right"

										style="z-index: 12; min-width: 300px; max-width: 300px; white-space: normal; font-size: 20px; line-height: 30px; font-weight: 400;text-transform:left;">
										<span>تنتهي المسابقة</span><br/>
										<span style="background:#000;padding:0 5px;">الخميس ليلاً</span><span style="color:#000;background:#fff;padding:0 5px;">12:00</span><br/>
										<span style="opacity:0.5;">8/5/2020</span>
										</div>

									<!-- LAYER NR. 8 -->
									<div class="tp-caption RockBand-LogoText   tp-resizeme"
											id="slide-1494-layer-13"
											data-x="['center','center','center','center']" data-hoffset="['-430','-370','-170','100']"
											data-y="['bottom','bottom','bottom','bottom']" data-voffset="['66','66','36','45']"
													data-fontsize="['21','21','21','21']"
										data-lineheight="['30','30','30','25']"
										data-width="['300','240','300','180']"
										data-height="none"
										data-whitespace="normal"
										data-transform_idle="o:1;"

											data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
											data-transform_out="opacity:0;s:300;s:300;"
										data-start="2050"
										data-splitin="none"
										data-splitout="none"
										data-basealign="slide"
										data-responsive_offset="on"
										data-textAlign="right"

										style="z-index: 11; min-width: 300px; max-width: 300px; white-space: normal; font-size: 21px; line-height: 30px; font-weight: 400;text-transform:left;">
										<span>تبدأ المسابقة</span><br/>
										<span style="background:#000;padding:0 5px;">الأحد صباحاً</span><span style="color:#000;background:#fff;padding:0 5px;">6:00</span><br/>
										<span style="opacity:0.5;">3/5/2020</span>
									</div>
								</div>
								<div class="mySlides">
									<!-- LAYER NR. 12 -->
									<div class="tp-caption tp-resizeme"
										id="slide-1494-layer-10"
										data-x="['center','center','center','center']" data-hoffset="['429','370','170','60']"
										data-y="['bottom','bottom','bottom','bottom']" data-voffset="['290','290','260','150']"
													data-fontsize="['25','25','25','25']"
										data-lineheight="['25','25','25','20']"
										data-width="['300','240','300','250']"
										data-height="none"
										data-whitespace="normal"
										data-visibility="['on','on','on','on']"
										data-transform_idle="o:1;"

										data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
										data-transform_out="opacity:0;s:300;s:300;"
										data-start="2500"
										data-splitin="none"
										data-splitout="none"
										data-basealign="slide"
										data-responsive_offset="on"
										data-textAlign="right"


										style="z-index: 16; min-width: 300px; max-width: 300px; white-space: normal; line-height: 25px; font-weight: 400; font-family:Roboto; text-transform:left; color: white; text-shadow: 2px 2px 5px orange;">
										تفاصيل المسابقة </div>

									<!-- LAYER NR. 13 -->
									<div class="tp-caption RockBand-LogoText   tp-resizeme  Twitter-Content"
										id="slide-1494-layer-11"
										data-x="['center','center','center','center']" data-hoffset="['430','370','170','10']"
										data-y="['bottom','bottom','bottom','bottom']" data-voffset="['95','95','65','-45']"
													data-width="['300','240','350','360']"
										data-height="170"
										data-whitespace="normal"
										data-visibility="['on','on','on','on']"
										data-transform_idle="o:1;"

										data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
										data-transform_out="opacity:0;s:300;s:300;"
										data-start="2650"
										data-splitin="none"
										data-splitout="none"
										data-basealign="slide"
										data-responsive_offset="on"
										data-textAlign="right"
										data-fontsize="20"

										style="z-index: 17; min-width: 300px; max-width: 300px; max-width: 170px; max-width: 170px; white-space: normal; line-height: 24px; font-weight: 400;font-family:Roboto; text-transform:left;">
										<span>لكل شخص يمكن الاشتراك مرة واحدة - <i class="icon-user-clock"></i></span>
										<br>
										<span>كل يوم أحد تبدأ مسابقة جديدة - <i class="icon-calendar21"></i></span>
										<br>
										<span>يوم الخميس حتى الساعة 12:00 ليلا - <i class="icon-calendar-times1"></i></span>
										<br>
										<span>نتصل بك من خلال المعلومات المدخلة - <i class="icon-call"></i></span>
									</div>
								</div>
							</div>


							<!-- LAYER NR. 10 -->
							<a class="tp-caption RockBand-LogoText   tp-resizeme"
					 			 target="_blank"			 id="slide-1494-layer-8"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['250','270','500','358']"
											data-width="none"
								data-height="none"
								data-whitespace="nowrap"
								data-transform_idle="o:1;"

								 data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:300;s:300;"
								data-start="2200"
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="on"


								style="z-index: 14; white-space: nowrap; font-size: 33px; line-height: 12px; font-weight: 900;font-family:Roboto;text-transform:left; color: orange;  text-shadow: 0px 2px 5px black;">مسابقة نحن نسأل وأنت تجيب  </a>


								<a class="tp-caption RockBand-LogoText tp-resizeme"
											target="_blank"			 id="slide-1494-layer-8"
											data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
											data-y="['bottom','bottom','bottom','bottom']" data-voffset="['200','220','450','308']"
													   data-width="none"
										   data-height="none"
										   data-whitespace="nowrap"
										   data-transform_idle="o:1;"
		   
											data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
											data-transform_out="opacity:0;s:300;s:300;"
										   data-start="2200"
										   data-splitin="none"
										   data-splitout="none"
										   data-actions=''
										   data-basealign="slide"
										   data-responsive_offset="on"
		   
		   
										   style="color: white; z-index: 14; white-space: nowrap; font-size: 29px; line-height: 12px; font-weight: 800;font-family:Roboto;text-transform:left;text-decoration:underline;">رمضان 2020  </a>

							<!-- LAYER NR. 11 -->
							<div class="tp-caption   tp-resizeme " data-toggle="modal" data-target="#contactFormModal"
								 id="slide-1494-layer-6"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['110','110','350','208']"
											data-width="['400','380','640','380']"
								data-height="none"
								data-whitespace="normal"
								data-transform_idle="o:1;"

								 data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:1000;e:Power3.easeOut;s:1000;e:Power3.easeOut;"
								data-start="2350"
								data-splitin="none"
								data-splitout="none"
								data-basealign="slide"
								data-responsive_offset="on"
								data-textAlign="['center','center','center','center']"
								style="z-index: 19; min-width: 300px; max-width: 300px; white-space: normal; font-size: 24px; line-height: 60px; font-weight: 700; color: rgba(255,255,255,1); letter-spacing: px; display: inline-block;font-family:Montserrat;background-color:rgb(247,147,26);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;text-decoration: none;"> 
								 ابدأ المسابقة</div>
								 

							<!-- LAYER NR. 13 -->
							<div class="tp-caption RockBand-LogoText   tp-resizeme  Twitter-Content"
										id="slide-1494-layer-11"
										data-x="['left','left','left','left']" data-hoffset="['300','1','30','40']"
										data-y="['bottom','bottom','bottom','bottom']" data-voffset="['46','36','50','-40']"
													data-width="['300','240','350','360']"
										data-height="170"
										data-whitespace="normal"
										data-visibility="['on','on','on','on']"
										data-transform_idle="o:1;"

										data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
										data-transform_out="opacity:0;s:300;s:300;"
										data-start="2650"
										data-splitin="none"
										data-splitout="none"
										data-basealign="slide"
										data-responsive_offset="on"
										data-textAlign="left"
										data-fontsize="20"

										style="z-index: 17; min-width: 300px; max-width: 300px; max-width: 170px; max-width: 170px; white-space: normal; line-height: 24px; font-weight: 400;font-family:Roboto; text-transform:left;">
										<span>ألف ألف</span>
										
									</div>
							

							<!-- LAYER NR. 14 -->
							<a class="tp-caption   tp-resizeme"
					 href="https://www.facebook.com/alifalifreelance" target="_blank"			 id="slide-1494-layer-18"
								 data-x="['left','left','left','left']" data-hoffset="['291','261','30','40']"
								 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['96','86','70','38']"
											data-width="40"
								data-height="40"
								data-whitespace="normal"
								data-transform_idle="o:1;"
								data-padding="0 10px"
								 data-transform_in="y:50px;opacity:0;s:1000;e:Power3.easeOut;"
								 data-transform_out="opacity:0;s:300;s:300;"
								data-start="2800"
								data-splitin="none"
								data-splitout="none"
								data-actions=''
								data-basealign="slide"
								data-responsive_offset="on"
								data-margin="5px"

								style="z-index: 18; min-width: 40px; max-width: 40px; max-width: 40px; max-width: 40px; white-space: normal; font-size: 65px; line-height: 40px; font-weight: 400; color: rgb(83, 163, 255);">
								<span><i class="icon-facebook1"></i></span>
								 </a>

							</li>
					</ul>
				<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
			</div><!-- END REVOLUTION SLIDER -->
		</section>
        
        		<!-- Modal Contact Form
		============================================= -->
		<div dir="rtl" class="modal fade right" id="contactFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
			<div class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger" role="document">
				<div class="modal-content">

					<div class="userInfo">
						<div class="modal-header" style="background-color: rgb(247, 147, 26); color: white; text-align: right;">
							<p class="heading">مسابقة الأسبوع 
								<strong>الثاني</strong>
							</p>
						</div>
						<div class="modal-body" style="text-align: right;">
							<div class="form-group">
								<input type="text" class="form-control" id="username" placeholder="الاسم الكامل">
							  </div>
							  <div class="form-group">
								<input type="number" class="form-control" id="userphone" placeholder="الهاتف">
							  </div>
						</div>
					</div>
					<% for(let i=0; i< questions.length; i++) { let q = questions[i]; %>
					<div class="form" style = "display:none; text-align: right;">

						<div class="modal-header" style="background-color: rgb(247, 147, 26); color: white;">
							<p class="heading"><%= i+1 %>)
								<strong><%= q.question %></strong>
							</p>
						</div>
						<div class="modal-body">
							<div class="inputGroup">
								<input value="A" id="radioA<%= i %>"  type="radio" name="radio<%= i %>">
								<label for="radioA<%= i %>"><%= q.choiceA %></label>
							</div>

							<div class="inputGroup">
								<input value="B" id="radioB<%= i %>" type="radio"  name="radio<%= i %>">
								<label for="radioB<%= i %>"><%= q.choiceB %></label>
							</div>

							<div class="inputGroup">
								<input value="C" id="radioC<%= i %>" type="radio"  name="radio<%= i %>">
								<label for="radioC<%= i %>"><%= q.choiceC %></label>
							</div>
							<% if(q.choiceD != " ") {%>
							<div class="inputGroup">
								<input value="D" id="radioD<%= i %>" type="radio" name="radio<%= i %>">
								<label for="radioD<%= i %>"><%= q.choiceD %></label>
							</div>
							<%}%>
							<input class="correctAnswer" value="<%= q.correct %>" style="display:none;"></span>
						</div>
					</div>
						<% } %>
					<div class="modal-footer flex-center">
						<button id="prevQ" class="btn btn-danger" style="background-color: rgb(247, 147, 26); border-color: rgb(247, 147, 26); margin-left: 10px;">السابق</button>
						<button id="nextQ" class="btn waves-effect" style="color: rgb(247, 147, 26); border-color: rgb(247, 147, 26);">التالي</button>
						<ul id="userTable" style="display: none;">
							<% for(let j=0; j< users.length; j++){ let user = users[j]; %>
								<input class="mmm" value="<%= user.phone %>">
							<% } %>
						</ul>
					</div>


				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		<!-- Modal Contact Form End -->


	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script src="include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="include/rs-plugin/js/addons/revolution.addon.snow.min.js"></script>

	<script src="include/rs-plugin/js/addons/revolution.addon.bubblemorph.min.js"></script>

	<!-- SLIDER REVOLUTION EXTENSIONS  -->
	<script src="include/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="include/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

	<!-- ADD-ONS JS FILES -->
	<script type="text/javascript">
		var revapi117,
		tpj=jQuery;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_430_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_430_1");
			}else{
				revapi430 = tpj("#rev_slider_430_1").show().revolution({
					sliderType:"hero",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1240,1024,778,480],
					gridheight:[868,768,960,720],
					lazyType:"none",
					parallax: {
						type:"scroll",
						origo:"slidercenter",
						speed:400,
						levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
						type:"scroll",
					},
					shadow:0,
					spinner:"off",
					autoHeight:"off",
					fullScreenAutoWidth:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "0px",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						disableFocusListener:false,
					}
				});
			}


			let myIndex = 0;

			let width = $(window).width();
			if(width < 480)
			{
				carousel();
			}



	
			let i = -1;
			let questionNum = 0;
			let Questions = $( ".form" );
			let selections = [];			

			$( "#prevQ" ).click(function() {
				if(i>0){
					Questions.eq(i).hide();
					i--;
					Questions.eq(i).show();
				}
			});

			$( "#nextQ" ).click(function() {
				let phones = [];

				for(let i=0; i< $( ".mmm" ).length; i++)
				{
					phones.push($( ".mmm" ).eq(i).val());
				}

				let username = $("#username").val();
				let userphone = $("#userphone ").val();

				if(username.length < 2){
					alert("اسم شخصي قصير");
					return;
				}	
				
				if(hasNumber(username)){
					alert("اسم شخصي خاطئ");
					return;
				}

				if(userphone.length < 7 ){
					alert("رقم هاتف قصير");
					return;
				}

				if(userphone.length > 11 ){
					alert("رقم هاتف طويل");
					return;
				}

				if(phones.includes(userphone)){
					alert("تم استعمال هذا الرقم");
					return;
				}

					var res = userphone.substring(0, 2);
					
					if(res == "07" || res == "05"){
					$(".userInfo").hide();
					
					if(i>-1)
						Questions.eq(i).hide();

					i++;

					if(i == Questions.length){
						let finalScore = 0;
						for(let j=0; j<Questions.length; j++){
							let checkAnswer = $('input[name=radio'+j+']:checked').val();
							let correctAnswer = Questions.eq(j).find('.correctAnswer').val();
							console.debug(checkAnswer +"="+correctAnswer);

							if(checkAnswer == correctAnswer)
								finalScore++;

						}
						post('/movement', {name: username, phone: userphone, score: finalScore})
					}
					else
						Questions.eq(i).show();
					}
					else
					{
					alert(res);
					alert("رقم هاتف خاطئ");
					return;
					}
			});

			function carousel() {
				var i;
				var x = $( ".mySlides" );
				for (i = 0; i < x.length; i++) {
					x[i].style.opacity = "0"; 
				}
				myIndex++;
				if (myIndex > x.length) {myIndex = 1}    
				x[myIndex-1].style.opacity = "1";  
				setTimeout(carousel, 5000); // Change image every 2 seconds
			}			

				

			});	/*ready*/
			function hasNumber(myString) {
					return /\d/.test(myString);
				}
			function post(path, params, method='post') {
			alert("شكرا على الاشتراك, تم ارسال النتيجة بنجاح");

				// The rest of this code assumes you are not using a library.
				// It can be made less wordy if you use one.
				const form = document.createElement('form');
				form.method = method;
				form.action = path;

				for (const key in params) {
					if (params.hasOwnProperty(key)) {
						const hiddenField = document.createElement('input');
						hiddenField.type = 'hidden';
						hiddenField.name = key;
						hiddenField.value = params[key];

						form.appendChild(hiddenField);
					}
				}

				document.body.appendChild(form);
				form.submit();
			
			}
	</script>

</body>
</html>