<!DOCTYPE html>
<html>
<style>
  body{
    font-size: 1.2em;
  background-color: #f2f2f2;
  }
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(16, 91, 252);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button{
  display: block;
  width: auto;
  font-size: 20px;
  background-color: rgb(16, 91, 252);
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  line-height: 1em;
}

input[type=submit]:hover {
  background-color: rgb(12, 70, 197);
}

div {
  border-radius: 5px;
  padding: 20px;
}

.container {
  display: block;
  position: relative;
  padding-right: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(89, 133, 255);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  right: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.group {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.group input{
  margin: 5px;
}

#wrapper
{
 text-align:center;
 margin:0 auto;
 padding:0px;
 width:995px;
}
#output_image
{
 max-width: 200px;
 max-height: 200px;
}
</style>
<script type='text/javascript'>
  function preview_image(event) 
  {
   var reader = new FileReader();
   reader.onload = function()
   {
    var output = document.getElementById('output_image');
    output.src = reader.result;
   }
   reader.readAsDataURL(event.target.files[0]);
  }
  </script>
<body>


<div dir="rtl">
  <a href="/digitalcard/admin" class="button"><button>الخروج</button></a>

    <form action="/digitalcard/update/<%= index %>" method="post" enctype="multipart/form-data">

        <label>اسم المحل</label>
        <input type="text" name="business" placeholder="الاسم" <% if(vcard.business != null) {%> value="<%= vcard.business %>" <%}%> >

        <label>شعار المحل</label>
        <div class="group">
          <input type="file" id="logo" name="logo" placeholder="الرايط" data-output="output_image"  onchange="preview_image(event)" accept="image/*" required>
          <p><img <% if(vcard.logo != null) {%> src="/vcards/<%= vcard.logo %>" <%}%> id="output_image" width="200" /></p>
        </div>

        <label>رابط الخلفية</label>
        <div class="group">
          <select id="select1" name="bgtype" onchange="selectChanged()" style="max-width: 200px;">
            <option <% if(vcard.bg != null && vcard.bg.type == "photo") {%> selected <%}%> value="photo">صورة</option>
            <option <% if(vcard.bg != null && vcard.bg.type == "video") {%> selected <%}%> value="video">فيديو</option>
            <option <% if(vcard.bg != null && vcard.bg.type == "fb") {%> selected <%}%> value="fb">من فيسبوك</option>
          </select>
          <input type="text" id="bglink" name="bglink" style="display: inline-block;" <% if(vcard.bg != null) {%> value="<%= vcard.bg.link %>" <%}%>>
          <div id="in_file" class="group" style="display: none;">
            <input type="file" id="logo" name="logo" placeholder="الرايط" data-output="output_bgimage"  onchange="preview_image(event)" accept="image/*" required>
            <p><img id="output_bgimage" width="200" /></p>
          </div>
        </div>

        <label>فيسبوك</label>
        <div class="group">
          <input type="text" id="facebook" name="facebook1" placeholder="العنوان" style="max-width: 200px;" <% if(vcard.facebook != null) {%> value="<%= vcard.facebook.title %>" <%}%> >
          <input type="text" id="facebook" name="facebook2" placeholder="الرابط" <% if(vcard.facebook != null) {%> value="<%= vcard.facebook.link %>" <%}%>>
        </div>

        <label>انستاغرام</label>
        <div class="group">
          <input type="text" id="instagram1" name="instagram1" placeholder="العنوان" style="max-width: 200px;" <% if(vcard.instagram != null) {%> value="<%= vcard.instagram.title %>" <%}%> >
          <input type="text" id="instagram2" name="instagram2" placeholder="الرابط" <% if(vcard.instagram != null) {%> value="<%= vcard.instagram.link %>"<%}%>>
        </div>

        <label>ويز</label>
        <div class="group">
          <input type="text" name="waze1" placeholder="العنوان" <% if(vcard.waze != null) {%> value="<%= vcard.waze.title %>"  <%}%> style="max-width: 200px;">
          <input type="text" name="waze2" placeholder="الرابط" <% if(vcard.waze != null) {%> value="<%= vcard.waze.link %>"<%}%>>
        </div>

        <label>واتساب</label>
        <div class="group">
          <input type="text" id="whatsapp1" name="whatsapp1" <% if(vcard.whatsapp != null) {%> value="<%= vcard.whatsapp.title %>" <%}%> placeholder="العنوان" style="max-width: 200px;">
          <input type="text" id="whatsapp2" name="whatsapp2" <% if(vcard.whatsapp != null) {%> value="<%= vcard.whatsapp.link %>" placeholder="الرابط"<%}%>>
        </div>
        
        <div id="phones">
          <label for="answer3">ارقام هاتف</label>
          <% if(vcard.phones.length != 0) {%>
            <% for(let i=1; i<=vcard.phones.length;i++){ %>
                <div class="group">
                    <input type="text" placeholder="عنوان" id="title<%= i %>" name="title<%= i %>" style="width: 300px;" value="<%= vcard.phones[i-1].title %>">
                    <input type="text" placeholder="هاتف" id="phone<%= i %>" name="phone<%= i %>" style="width: 300px;" value="<%= vcard.phones[i-1].number %>">
                </div>
            <% } } %>
        </div>
          
        <button type="button" onclick="addPhone()">+</button>
        
        <label>ساعات عمل</label>
        <button type="button" onclick="autoFill()">ماثل كل الأيام حسب اليوم الأول</button>
        
        <% for(let i=1; i<=7; i++){ %>
          <div class="group">
            <input type="text" id="days<%= i %>" name="days<%= i %>" style="width: 100px;" placeholder="00:00" <% if(vcard['day'+i] != null) {%> value="<%= vcard['day'+i].start %>"<%}%>>
            <p>:</p>
            <input type="text" id="daye<%= i %>" name="daye<%= i %>" style="width: 100px;" placeholder="00:00" <% if(vcard['day'+i] != null) {%> value="<%= vcard['day'+i].end %>"<%}%>>
          </div>
        <% } %>

        <input type="hidden" name="phoneCount" id="phoneCount" value="<%= vcard.phones.length %>">
        <input type="submit" value="حفظ">
    </form>
</div>

<script>
  let phonesCnt = document.getElementById('phoneCount').value;
  let node = document.getElementById('phones');

  function selectChanged(){
    let s = document.getElementById('select1');
    if(s.value == 'photo'){
      document.getElementById('bglink').style.display = "none";
      document.getElementById('in_file').style.display = "inline-block";
    }
    else{
      document.getElementById('bglink').style.display = "inline-block";
      document.getElementById('in_file').style.display = "none";
    }
  }

  function preview_image(event) 
  {
    var reader = new FileReader();
    reader.onload = function()
    {
      let outputID = event.target.getAttribute('data-output');
      var output = document.getElementById(outputID);
      output.src = reader.result;
    }
    reader.readAsDataURL(event.target.files[0]);
  }


  function addPhone(){
    phonesCnt++;
    node.insertAdjacentHTML('beforeend',
    '<div class="group"> <input type="text" placeholder="عنوان" id="title'+ phonesCnt + '" name="title'+ phonesCnt + '" style="width: 300px;"> <input type="text" placeholder="هاتف" id="phone'+ phonesCnt + '" name="phone'+ phonesCnt + '" style="width: 300px;"> </div> ');     
    document.getElementById('phoneCount').value = phonesCnt;
  }

  function autoFill(){
    let dayS = document.getElementById('days1');
    let dayE = document.getElementById('daye1');

    for(let i=1; i<=7;i++){
      document.getElementById('days'+i).value = dayS.value;
      document.getElementById('daye'+i).value = dayE.value;
    }
  }


</script>
</body>
</html>
