<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/font-icons.css">
    <link href="/vcard.css" rel="stylesheet" type="text/css"/>
    <title><%= vcard.business %></title>
    <style>
        #switch {
            background: #2c3e50;
            color: #eee;
            position: absolute;
            padding: 10px 20px;
            top: 50px;
            left: 0px;
            font-size: 12px;
            border-radius: 0px 6px 6px 0px;
        }

        #switch ul {
            margin-bottom: 5px;
        }

        #switch ul li {
            cursor: pointer;
            padding-left: 10px;
        }

        #switch ul li:hover {
            background: #34495e;
        }

        .background {
            background-repeat: no-repeat !important; 
            background-size: cover !important;
        }

        .main_info h1{
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
        }

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        table {
            text-align: center !important;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        table td, table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even){background-color: #f2f2f2;}

        table tr:hover {background-color: #ddd;}

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            color: white;
        }

        @media screen and (max-width: 480px) {
            #switch {
                display: none;
            }
        }
    </style>
</head>
<body class="circular-animation flat-color background"
        style="overflow: hidden;
        <% if(vcard.bg != null && vcard.bg.type == 'photo') { %> background-image: url('/vcards/<%= vcard.bg.link %>');"
    <% } %> 
    >
    <!-- The Modal -->
<div id="myModal" class="modal">
    <span style="display: none;" class="close">&times;</span>
    <!-- Modal content -->
    <div class="modal-content">
      <table>
        <tr>
            <th style="background-color: <%= vcard.colors.primary %>;">יום</th>
            <th style="background-color: <%= vcard.colors.primary %>;">התחלה</th>
            <th style="background-color: <%= vcard.colors.primary %>;">סיום</th>
        </tr>
        <tr>
            <td>ראשון</td>
            <td><%= vcard.day1.start %></td>
            <td><%= vcard.day1.end %></td>
        </tr>
        <tr>
            <td>שני</td>
            <td><%= vcard.day2.start %></td>
            <td><%= vcard.day2.end %></td>
        </tr>
        <tr>
            <td>שלישי</td>
            <td><%= vcard.day3.start %></td>
            <td><%= vcard.day3.end %></td>
        </tr>
        <tr>
            <td>רביעי</td>
            <td><%= vcard.day4.start %></td>
            <td><%= vcard.day4.end %></td>
        </tr>
        <tr>
            <td>חמישי</td>
            <td><%= vcard.day5.start %></td>
            <td><%= vcard.day5.end %></td>
        </tr>
        <tr>
            <td>שישי</td>
            <td><%= vcard.day6.start %></td>
            <td><%= vcard.day6.end %></td>
        </tr>
        <tr>
            <td>שבת</td>
            <td><%= vcard.day7.start %></td>
            <td><%= vcard.day7.end %></td>
        </tr>
      </table>
    </div>
  
  </div>
    <div class="loader"></div>
    <div class="main">
        <div class="circle" style="background: url('/vcards/<%= vcard.logo %>') no-repeat center; background-size: auto 200px;">
            <!-- Description Block -->
            <div class="description"></div>
            <!-- End Description Block -->
            <ul class="triggers">
                <% if(vcard.phones.length != 0) { %>
                    <% for(let i=1; i<=vcard.phones.length; i++){ let phone = vcard.phones[i-1]; %>
                        <li class="trigger-item">
                            <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="tel:<%= phone.number %>" data-url="" data-type="page" data-title="<%= phone.title %>"><i class="icon-phone"></i></a>
                        </li>
                    <% } %>
                <% } %>
                <% if(vcard.whatsapp != null) { %>
                    <li class="trigger-item">
                        <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="https://wa.me/<%= vcard.whatsapp.link %>" data-url="" data-type="page" data-title="<%= vcard.whatsapp.title %>"><i class="icon-whatsapp"></i></a>
                    </li>
                <% } %>
                <% if(vcard.facebook != null) { %>
                    <li class="trigger-item">
                        <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="<%= vcard.facebook.link %>" data-url="" data-type="page" data-title="<%= vcard.facebook.title %>"><i class="icon-facebook"></i></a>
                    </li>
                <% } %>
                <% if(vcard.instagram != null) { %>
                    <li class="trigger-item">
                        <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="<%= vcard.instagram.link %>" data-url="" data-type="page" data-title="<%= vcard.instagram.title %>"><i class="icon-instagram"></i></a>
                    </li>
                <% } %>
                <% if(vcard.waze != null) { %>
                    <li class="trigger-item">
                        <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="<%= vcard.waze.link %>" data-url="" data-type="page" data-title="<%= vcard.waze.title %>"><i class="icon-map-marker-alt"></i></a>
                    </li>
                <% } %>
                <li class="trigger-item">
                    <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" id="myBtn" data-url="" data-type="page" data-title="שעות עבודה"><i class="icon-clock2"></i></a>
                </li>
            </ul>
        </div>
        <div class="main_info">
            <h1><%= vcard.business %></h1>

        </div>
    </div>

    <script type="text/javascript" src="/js/vcard.min.js"></script>
    <script type="text/javascript">
        $('.switch_color li').on('click', function () {
             var color = $(this).data('color');
             
             Compass.loader.start();
             
             $('body').removeClass('flat-color dark-color cool-color').addClass(color+'-color');
             
             Compass.loader.stop();
        });

        $('.switch_animate li').on('click', function () {
             var animation = $(this).data('anim');

             Compass.loader.start();
             $('.main').removeClass('animate');

             $('body').removeClass('circular-animation scaling-animation').addClass(animation+'-animation'); 
             
             $('.main').addClass('animate');
             Compass.loader.stop();                
        });
    </script>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }
        
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
</body>
</html>