<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/vcard.css" rel="stylesheet" type="text/css"/>
    <title><%= vcard.business %></title>
    <style>
        #switch {
            background: #2c3e50;
            color: #eee;
            position: absolute;
            padding: 10px 20px;
            top: 50px;
            left: 0px;
            font-size: 12px;
            border-radius: 0px 6px 6px 0px;
        }

        #switch ul {
            margin-bottom: 5px;
        }

        #switch ul li {
            cursor: pointer;
            padding-left: 10px;
        }

        #switch ul li:hover {
            background: #34495e;
        }

        @media screen and (max-width: 480px) {
            #switch {
                display: none;
            }
        }
    </style>
</head>
<body style="overflow: hidden;" class="circular-animation flat-color">
    <!-- <% if(vcard.bg != null && vcard.bg.type == 'video') { %> 
        <iframe class="background" frameborder="0" height="100%" 
        src="//www.dailymotion.com/embed/video/<%= vcard.bg.link %>?autoplay=1&mute=1&controls=0&fullscreen=1"
        allowfullscreen allow="autoplay"></iframe>
    <% } %> 
    <% if(vcard.bg != null && vcard.bg.type == 'photo') { %>
        <img src="<%= vcard.bg.link %>" alt="" class="background">
    <% } %> -->

    <div class="loader"></div>
    <div class="main">
        <div class="circle" style="background: url('/vcards/<%= vcard.logo %>') no-repeat center;">
            <!-- Description Block -->
            <div class="description"></div>
            <!-- End Description Block -->
            <ul class="triggers">
                <% if(vcard.phones.length != 0) { %>
                    <% for(let i=1; i<=vcard.phones.length; i++){ let phone = vcard.phones[i-1]; %>
                        <li class="trigger-item">
                            <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="tel:<%= phone.number %>" data-url="" data-type="page" data-title="<%= vcard.waze.link %>"><i class="icon-user"></i></a>
                        </li>
                    <% } %>
                <% } %>
                <% if(vcard.whatsapp != null) { %>
                    <li class="trigger-item">
                        <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="https://wa.me/<%= vcard.whatsapp.link %>" data-url="" data-type="<%= vcard.waze.link %>" data-title="About"><i class="icon-user"></i></a>
                    </li>
                <% } %>
                <% if(vcard.facebook != null) { %>
                    <li class="trigger-item">
                        <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="<%= vcard.facebook.link %>" data-url="" data-type="page" data-title="<%= vcard.waze.link %>"><i class="icon-user"></i></a>
                    </li>
                <% } %>
                <% if(vcard.instagram != null) { %>
                    <li class="trigger-item">
                        <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="<%= vcard.instagram.link %>" data-url="" data-type="page" data-title="<%= vcard.waze.link %>"><i class="icon-user"></i></a>
                    </li>
                <% } %>
                <% if(vcard.waze != null) { %>
                    <li class="trigger-item">
                        <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" href="<%= vcard.waze.link %>" data-url="" data-type="page" data-title="<%= vcard.waze.title %>"><i class="icon-user"></i></a>
                    </li>
                <% } %>
                <li class="trigger-item">
                    <a style="background-color: <%= vcard.colors.primary %>; border-color: <%= vcard.colors.secondary %>" id="myBtn" href="<%= vcard.waze.link %>" data-url="" data-type="page" data-title="שעות עבודה"><i class="icon-user"></i></a>
                </li>
            </ul>
        </div>

    </div>

    <script type="text/javascript" src="/js/vcard.min.js"></script>
    <script type="text/javascript">
        $('.switch_color li').on('click', function () {
             var color = $(this).data('color');
             
             Compass.loader.start();
             
             $('body').removeClass('flat-color dark-color cool-color').addClass(color+'-color');
             
             Compass.loader.stop();
        });

        $('.switch_animate li').on('click', function () {
             var animation = $(this).data('anim');

             Compass.loader.start();
             $('.main').removeClass('animate');

             $('body').removeClass('circular-animation scaling-animation').addClass(animation+'-animation'); 
             
             $('.main').addClass('animate');
             Compass.loader.stop();                
        });
    </script>
</body>
</html>