<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/royalcss/royal.css">
  <link rel="stylesheet" type="text/css" href="/css/royalcss/clients.css">
  <script src="/js/jquery.js"></script>
</head>

<body>
  <div class="title">
    <h1> לקוחות </h1>
  </div>
  <div class="table">
    <table>
      <script> let clients = []; </script>
      <tr>
        <td class="tnum"> מס' </td>
        <td class="tdataname"> לקוח </td>
        <td class="tdata"> מס' זהות </td>
        <td class="tdata"> מס' טלפון </td>
        <td class="tdata"> כתובת </td>
        <td class="tdata"> פעולות </td>
      </tr>
      <% for(let i = clientsarray.length - 1; i >= 0; i--) { %>
      <tr>
        <td class="tnum"> <%= clientsarray.length - i %> </td>
        <td class="tdataname">
          <a target="mainview" href="/royal/orders/<%= admin.username %>/<%= clientsarray[i].id %>/<%= clientsarray[i].name %>"> <%= clientsarray[i].name %> </a>
        </td>
        <td class="tdata"> <%= clientsarray[i].id %> </td>
        <td class="tdata"> <%= clientsarray[i].phone %> </td>
        <td class="tdata"> <%= clientsarray[i].address %> </td>
        <td class="tdata actions"> 
          <span class="tedit btn" onclick="openEditClientForm('<%= i %>')"> &#9998; </span>
          <span class="tdelete btn" onclick="openDeleteClientForm('<%= i %>')"> &#10006; </span>
        </td>
      </tr>
      <script> clients.splice(0, 0, ['<%= clientsarray[i].name; %>', '<%= clientsarray[i].id; %>', '<%= clientsarray[i].phone; %>', '<%= clientsarray[i].address; %>']); </script>
      <% } %>
    </table>
  </div>

  <!-- add client modal -->
  <div class="popup-position" id="add_client_form">
    <% include ../partials/royal/add_client %>
  </div>
  <button class="addnew" onclick="openAddClientForm()"> + </button>

  <!-- Edit client modal -->
  <div class="popup-position" id="edit_client_form">
    <% include ../partials/royal/edit_client %>
  </div>

  <!-- delete client modal -->
  <div class="popup-position" id="delete_client_form">
    <% include ../partials/royal/delete_client %>
  </div>
  
  <script>
    function openAddClientForm() {
      let e = document.getElementById("add_client_form");
      if (e.style.display == 'block')
        e.style.display = 'none';
      else
        e.style.display = 'block';
    }

    function openEditClientForm(i) {
      let e = document.getElementById("edit_client_form");
      if (e.style.display == 'block')
        e.style.display = 'none';
      else
      {
        e.style.display = 'block';
        document.getElementById("client_editname").placeholder = clients[i][0];
        document.getElementById("default_name").value = clients[i][0];
        document.getElementById("client_editid").placeholder = clients[i][1];
        document.getElementById("default_id").value = clients[i][1];
        document.getElementById("client_editphone").placeholder = clients[i][2];
        document.getElementById("default_phone").value = clients[i][2];
        document.getElementById("client_editaddress").placeholder = clients[i][3];
        document.getElementById("default_address").value = clients[i][3];
      }
    }

    function openDeleteClientForm(i) {
      let e = document.getElementById("delete_client_form");
      if (e.style.display == 'block')
        e.style.display = 'none';
      else{
        e.style.display = 'block';
        document.getElementById("del_client_name").value = clients[i][0];
        document.getElementById("del_client_id").value = clients[i][1];
        document.getElementById("del_client_address").value = clients[i][3];
        document.getElementById("del_client_phone").value = clients[i][2];
      }
    }

    function validateAddClient(){
      let client_name = document.getElementById('client_name');
      let client_id = document.getElementById('client_id');
      let client_address = document.getElementById('client_address');
      let client_phone = document.getElementById('client_phone');
      if(!(client_name.value && client_id.value && client_address.value && client_phone.value)){
        alert('נא למלא את כל השדות');
        return false;
      }
      for(let i = 0; i < clients.length; i++){
        if(clients[i][1] === client_id.value){
          alert('מספר זהות הלקוח קיים במערכת');
          return false;
        }
      }
      return true;
    }

    function validateEditClient(){
      let client_id = document.getElementById('client_editid');
      let client_def_id = document.getElementById('default_id');
      let client_phone = document.getElementById('client_editphone');
      if(client_id.value && client_id.value != client_def_id.value){
        for(let i = 0; i < clients.length; i++){
          if(clients[i][1] === client_id.value){
            alert('נא לוודא שמספר הזהות החדש לא קיים במערכת');
            return false;
          }
        }
      }
      return true;
    }

    function validateDeleteClient(){
      let pass = document.getElementById('del_pass');
      if(pass.value != "<%= admin.password %>"){
        alert('סיסמה שגויה');
        return false;
      }
      return true;
    }

  </script>
</body>

</html>