<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/royalcss/clients.css">
</head>

<body>
  <header>
    <h1> לקוחות </h1>
  </header>
  <hr>
  <table>
    <tr>
      <td> מס' </td>
      <td> לקוח </td>
      <td> מס' זהות </td>
      <td> מס' טלפון </td>
      <td> כתובת </td>
    </tr>
    <% for(let i = clientsarray.length - 1; i >= 0; i--) { %>
    <tr>
      <td class="num"> <%= clientsarray.length - i %> </td>
      <td class="tdataname">
        <button type="button" class="collapsible"> <%= clientsarray[i].name %> </button>
        <div class="content">
          <a target="mainview" href="/royal/orders/<%= clientsarray[i].id %>"> הצג הזמנות עבור לקוח </a><br>
          <a target="mainview" href="forms/#add_client"> תיקון נתוני לקוח </a>
        </div>
      </td>
      <td class="tdata"> <%= clientsarray[i].id %> </td>
      <td class="tdata"> <%= clientsarray[i].phone %> </td>
      <td class="tdata"> <%= clientsarray[i].address %> </td>
    </tr>

    <% } %>
  </table>

  <!-- add client modal -->
  <div class="popup-position" id="add_client_form">
    <% include ../partials/royal_add_client %>
  </div>
  <button class="addnew" onclick="openClientForm()"> + </button>

  <script>
    function openClientForm() {
      let e = document.getElementById("add_client_form");
      if (e.style.display == 'block')
        e.style.display = 'none';
      else
        e.style.display = 'block';
    }

    let coll = document.getElementsByClassName("collapsible");
    let i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        let content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
          content.style.border = "none";
        } else {
          let cont = document.getElementsByClassName("content");
          for (let j = 0; j < cont.length; j++) {
            cont[j].style.maxHeight = null;
            cont[j].style.border = "none";
          }
          content.style.maxHeight = content.scrollHeight + "px";
          content.style.border = "2px solid #0000FF";
        }
      });
    }
  </script>
</body>

</html>