<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/jquery.js"></script>
<link rel="stylesheet" type="text/css" href="/css/royalcss/royal.css">
</head>
<body>
<div class="title">
  <h1> הזמנות עבור <%= clientid %> <br/> (<%= clientname %>) </h1>
  <!-- Back icon -->
  <a class="btn"  href="/royal/clients/<%= admin.username %>"> חזרה </a>
  <a class="btn" href="/royal/productprices/<%= admin.username %>/<%= clientid %>"> הצגת מחירים </a>
</div>

<div class="table">
  <table class="orderstable">
    <script> let orders = []; </script>
    <tr>
      <td> מס' </td>
      <td> הזמנה </td>
      <td> תאריך ביצוע </td>
      <td> תאריך אספקה </td>
      <td> סה"כ </td>
      <td> שולם </td>
      <td class="tdata"> פעולות </td>
    </tr>
   <% if(orders.length) { %>
    <% for(let i = orders.length - 1; i >= 0; i--) { %>
      <tr <% if(orders[i].paid != 'לא') {%> style="background-color: #83ce83; color: white;" <%}%>>
        <td class="num"> <%= orders.length - i %> </td>
        <td class="tdataname">
          <a target="mainview" href="/royal/orderproducts/<%= admin.username %>/<%= orders[i].id %>/<%= clientid %>/<%= clientname %>"> <%= orders[i].id %> </a>
        </td>
        <td style="direction: ltr;" class="tdata"> <%= orders[i].orderdate %> </td>
        <td style="direction: ltr;" class="tdata"> <%= orders[i].providedate %> </td>
        <td class="tdata"> <%= orders[i].total %> </td>
        <td class="tdata"> <%= orders[i].paid %> </td>
        <td class="actions tdata"> 
          <span class="btn tedit" onclick="openEditOrderForm('<%= i %>')"> &#9998; </span>
          <span class="btn tdelete" onclick="openDeleteOrderForm('<%= i %>')"> &#10006; </span>
        </td>
      </tr>
      <script> orders.splice(0, 0, ['<%= orders[i].id; %>', '<%= orders[i].orderdate; %>', '<%= orders[i].providedate; %>', '<%= orders[i].total; %>', '<%= orders[i].paid; %>', '<%= orders[i].notice; %>']); </script>
      <% } %>
  </table>
</div>

<% } else { %>
</table>
  <p class="no_orders" style="padding: 0 20px;"> אין הזמנות עבור לקוח </p>
<% } %>

<script> let orders_ids = []; </script>
<% orders_ids.forEach(o_id => { %>
<script> orders_ids.push('<%= o_id %>'); </script>
<% }); %>
<script> let savedproducts = []; </script>
<% savedproducts.forEach(product => { %>
  <script> savedproducts.push(['<%= product.description %>', '<%= product.price %>']); </script>  
<% }); %>

<!-- add order modal -->
<div class="popup-position" id="add_order_form">
  <% include ../partials/royal/add_order %>
</div>
<button class="addnew" onclick="openAddOrderForm()"> + </button>

<!-- edit order modal -->
<div class="popup-position" id="edit_order_form">
  <% include ../partials/royal/edit_order %>
</div>

<!-- delete order modal -->
<div class="popup-position" id="delete_order_form">
  <% include ../partials/royal/delete_order %>
</div>

<script>

$(document).ready(function() {


    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;       
    $("#order_date").attr("value", today);

    let wrapper = $(".container1");
    let add_button = $(".add_form_field");

    let x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        $(wrapper).append('<tr><td><input type="text" list="productslist" name="products[]" class="product" value=""/></td> <td><input type="number" name="quantities[]" class="quantity" value=""></td> <td><input type="number" step="0.01" name="prices[]" class="price" value=""></td><td><input type="number" step="0.01" class="rowprice" value="" readonly></td><td><a href="#" class="delete"> מחק </a></td></tr>'); //add input box  
        x++;
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('td').parent('tr').remove();
        x--;
        let total = 0;
        let prices = document.getElementsByClassName('rowprice');
        for(let i = 0; i < prices.length; i++){
          total = (+total) + (+prices[i].value);
        }
        document.getElementById('total').value = total;
    });

    $(wrapper).on("input", ".quantity", function(e) {
        e.preventDefault();
        let i = $('[name = "quantities[]"]').index($(this));
        let q = document.getElementsByClassName('quantity')[i].value;
        let p = document.getElementsByClassName('price')[i].value;
        document.getElementsByClassName('rowprice')[i].value = q*p;
        let prices = document.getElementsByClassName('rowprice');
        let total = 0;
        for(let i = 0; i < prices.length; i++){
          total = (+total) + (+prices[i].value);
        }

    document.getElementById('total').value = total; 
    });

    $(wrapper).on("input", ".price", function(e) {
        e.preventDefault();
        let i = $('[name = "prices[]"]').index($(this));
        let q = document.getElementsByClassName('quantity')[i].value;
        let p = document.getElementsByClassName('price')[i].value;
        document.getElementsByClassName('rowprice')[i].value = q*p;
        let prices = document.getElementsByClassName('rowprice');
        let total = 0;
        for(let i = 0; i < prices.length; i++){
          total = (+total) + (+prices[i].value);
        }

    document.getElementById('total').value = total; 
    });

    $(wrapper).on("change", ".product", function(e) {
        e.preventDefault();
        let found = false;
        let i = $('[name = "products[]"]').index($(this));
        let product = document.getElementsByClassName("product")[i];
        for(let j = 0; j < savedproducts.length; j++){
          if(product.value == savedproducts[j][0]){
            document.getElementsByClassName("price")[i].value = Number(savedproducts[j][1]);
            found = true;
          }
        }
        if(!found){
          document.getElementsByClassName("price")[i].value = "";
        }
    });
    
});

function openAddOrderForm() {
      let e = document.getElementById("add_order_form");
      let btn = document.getElementsByClassName("addnew")[0];
      let order_id = document.getElementById("order_id");
      if (e.style.display == 'block'){
        e.style.display = 'none';
        btn.style.display = 'block';
      }
      else{
        e.style.display = 'block';
        btn.style.display = 'none';
        let cd = new Date();
        order_id.value = (cd.getFullYear().toString() + (cd.getMonth()+1).toString() + cd.getDate().toString() + cd.getHours().toString() + cd.getMinutes().toString() + cd.getSeconds().toString());
      }
    }

    function openEditOrderForm(i) {
      let e = document.getElementById("edit_order_form");
      let btn = document.getElementsByClassName("addnew")[0];
      if (e.style.display == 'block'){
        e.style.display = 'none';
        btn.style.display = 'block';
      }
      else{
        e.style.display = 'block';
        btn.style.display = 'none';
        document.getElementById("edit_order_id").placeholder = orders[i][0];
        document.getElementById("default_id").value = orders[i][0];
        document.getElementById("edit_order_date").value = orders[i][1];
        document.getElementById("default_order_date").value = orders[i][1];
        document.getElementById("edit_order_provide_date").value = orders[i][2];
        document.getElementById("default_provide_date").value = orders[i][2];
        document.getElementById("edit_order_total").value = orders[i][3];
        document.getElementById("default_order_total").value = orders[i][3];
        document.getElementById("default_order_paid").value = orders[i][4];
        document.getElementById("edit_order_notice").value = orders[i][5];
        let paidselect = document.getElementById("edit_order_paid");
        for(let j = 0; j < paidselect.options.length; j++){
          if(paidselect.options[j].value == orders[i][4]){
            paidselect.selectedIndex = j;
            break;
          }
        }
      }
    }

    function openDeleteOrderForm(i) {
      let e = document.getElementById("delete_order_form");
      let btn = document.getElementsByClassName("addnew")[0];
      if (e.style.display == 'block'){
        e.style.display = 'none';
        btn.style.display = 'block';
      }
      else{
        e.style.display = 'block';
        btn.style.display = 'none';
        document.getElementById("del_order_id").value = orders[i][0];
        document.getElementById("del_order_date").value = orders[i][1];
        document.getElementById("del_order_provide_date").value = orders[i][2];
        document.getElementById("del_order_total").value = orders[i][3];
      }
    }

    function validateAddOrder(){
      let order_date = document.getElementById('order_date');
      let order_provide_date = document.getElementById('order_provide_date');
      if(!(order_date.value && order_provide_date.value)){
        alert('נא למלא את כל השדות');
        return false;
      }
      if(order_provide_date.value < order_date.value){
        alert('תאריך אספקה חייב להיות שווה לתאריך הזמנה או אחריו');
        return false;
      }
      return true;
    }

    function validateEditOrder(){
      let new_order_id = document.getElementById('edit_order_id');
      let def_order_id = document.getElementById('default_id');
      let order_date = document.getElementById('edit_order_date');
      let order_provide_date = document.getElementById('edit_order_provide_date');
      if(order_provide_date.value < order_date.value){
        alert('תאריך אספקה חייב להיות שווה לתאריך הזמנה או אחריו');
        return false;
      }
      if(new_order_id.value && new_order_id.value != def_order_id.value){
        for(let i = 0; i < orders_ids.length; i++){
          if(new_order_id.value === orders_ids[i]){
            alert('נא לוודא שמספר זהות ההזמנה החדש לא קיים במערכת');
            return false;
          }
        }
      }
      return true;
    }

    function validateDeleteOrder(){
      let pass = document.getElementById('del_pass');
      if(pass.value != "<%= admin.password %>"){
        alert('סיסמה שגויה');
        return false;
      }
      return true;
    }

</script>
</body>
</html>