<!DOCTYPE html>
<html lang="he">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/royalcss/royal.css">
<script src="/js/jquery.js"></script>
<script src="/js/js2pdf.js"></script>
</head>
<body style="direction: rtl; text-align: right;">
  
<div class="title">
  <h1> דוחות </h1>
  <a clas="btn" href="/royal/reports/<%= R_id %>"> חזרה </a>
</div>
<button onclick="generatePDF()" class="btn">יצוא pdf</button>
  <div id="pdf_content" style="padding: 0 10px;">
    <div>
    <% if(R_id == '1') { %><p>תוצאות עבור הזמות ללקוח<%= client %> </p><% } %>
      <% if(R_id == '0') { %><p>תוצאות עבור כל הלקוחות ...</p><% } %>
      <p>מתאריך <%= date_from %></p>
        <p>עד תאריך <%= date_to %> </p>
  </div>
  <div>
    <% if(result.length) { let total = 0; let i = 1; %>
      <div class="table">
        <table class="resultstable">
          <tr>
            <td> מס' </td>
            <td> מזהה </td>
            <td> תאריך <br/> ביצוע </td>
            <td> תאריך <br/> אספקה </td>
            <td> סכום </td>
          </tr>
          <% result.forEach(res => { total+= Number(res.total); %>
            <tr>
              <td> <%= i++ %> </td>
              <td> <%= res.id %> </td>
              <td> <%= res.orderdate %> </td>
              <td> <%= res.providedate %> </td>
              <td> <%= res.total %> </td>
            </tr>
          <% }); %>
        </table>
      </div>

      <p> סה"כ <br/> <%= total %> </p>
      <% } else { %>
        <p class="no_result"> אין תוצאות </p>
<% } %>
  </div>
</div>
<script>
  function generatePDF() {
    // Choose the element that our invoice is rendered in.
    const element = document.getElementById("pdf_content");
    // Choose the element and save the PDF for our user.
    html2pdf()
      .from(element)
      .save();
  }
</script>
</body>
</html>