<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
        font-family: "Open Sans", sans-serif;
        line-height: 1.25;
        }

        table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
        }

        table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
        }

        table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
        }

        table th,
        table td {
        padding: .625em;
        text-align: center;
        }

        table th {
        font-size: .85em;
        letter-spacing: .1em;
        text-transform: uppercase;
        }

        @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }
        
        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        
        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }
        
        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }
        
        table td::before {
            /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        table td:last-child {
            border-bottom: 0;
        }
    }
    .horizontal-menu {
            position: sticky;
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(16, 91, 252);
        }

        .horizontal-menu li {
        float: left;
        }

        .horizontal-menu li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        }

        .horizontal-menu li:hover {
        background-color: rgb(16, 91, 252);
        opacity: 0.7;
        }

        .button {
        border: 1px solid rgb(16, 91, 252);
        color: white;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        }

        .button:hover{
            opacity: 0.7;
        }
    </style>
    <title>Document</title>
</head>
<body dir="rtl">
    <header>
        <ul class="horizontal-menu">
            <li><a href="/admin">ראשי</a></li>
            <li><a href="/digitalcard/admin">כרטיס דיגיטלי</a></li>
            <li><a href="/menu/admin">مينيو مطاعم</a></li>
            <li><a href="http://alifalif.store/public">شبيك لبيك</a></li>
            <li><a href="http://alifalif.work/crm/admin/">חשבוניות</a></li>
        </ul>
    </header>
    <a href="/menu/add" class="button" style="position: fixed; font-size: 1.5em; color: royalblue;">+</a>
    
<table>
    <caption>עסקים נרשמים</caption>
    <thead>
      <tr>
        <th scope="col">رقم</th>
        <th scope="col">لوغو</th>
        <th scope="col">المصلحة</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <% for(let i=0; i<menus.length; i++) { let menu = menus[i]; %>
      <tr>
        <td><a href="/menu/show/ar/<%= i %>"> <%= i %></a></td>
        <td><img height="30px" src="/restaurants/<%= menu.logo %>" alt="<%= menu.business.ar %>"></td>
        <td><%= menu.business.ar %></td>
        <td data-label="Period">
            <a href="/menu/delete/<%= i %>" class="button" style="color: rgb(161, 2, 2);  background-color: rgb(255, 101, 101);">X</a>
            <a href="/menu/update/<%= i %>" class="button" style="color: green; background-color: greenyellow;">Eُ</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>