<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<link rel="stylesheet" href="/dark.css" type="text/css" />

	<link rel="stylesheet" href="/css/custom_cart.css" type="text/css" />

	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="/recipes.css" type="text/css" /> <!-- Theme Custom CSS -->

	<style>
		.card-body {
			padding: 0;
		}
		.icon-line2-info:before {
			content: "\e08b";
		}
		.mfp-title {
			text-align: right;
			padding-left: 18px;
			padding-right: 0px;
			line-height: 0px;
		}
		.badge {
			font-size: 100%;
		}
		#white-text{
			color: white;
		}
		.drinks-no-pics{			
			padding: 10px;
			border-bottom:solid;
			border-color:white;
			border-width: 2px;
			height: wrap;
		}
		#darktheme-text{
			color:#ffffff;
		}
		td{
			text-align: center;
			padding-right: 10px;
		}
		.td-title{
			font-size: 14pt;
			font-weight: bold;
			color:white;
		}
		.play-icon{
			position: absolute;
			height: 6em;
			width: 6em;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.video-preview-container{
			position: relative;
			width: 100%;
		}
		.video-preview{
			width: 100%;
			height: auto;
		}

	</style>

	<!-- Document Title
	============================================= -->
	<% if(lang == 'ar') {%> <title><%= category.title.ar %></title> <% } %>
	<% if(lang == 'he') {%> <title><%= category.title.he %></title> <% } %>
</head>

<body class="stretched dark no-transition" 
<% if(darkmode == "true") { %> style="background-color: #111 !important;"<% } %>
>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix"  <% if(darkmode == "true") { %> style="background-color: #111 !important;" <% } %>>

		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-parallax page-title-dark" style="background: #111 url('/restaurants/<%= category.image %>') center center / cover; padding: 100px 0;" data-0="background-position:0px -200px;" data-400="background-position:0px -100px;">

			<div class="container clearfix">
				<div class="row">
					<div class="col-md-7">
						<% if(lang == 'ar') {%> <h1 class="nott mb-5" data-animate="zoomIn"><%= category.title.ar %></h1> <% } %>
						<% if(lang == 'he') {%> <h1 class="nott mb-5" data-animate="zoomIn"><%= category.title.he %></h1> <% } %>
					</div>
				</div>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content" style="overflow: inherit;" class="dark">
			<div class="content-wrap p-0 dark">

				<div class="recipe-itmes">
					<div class="row no-gutters clearfix"  <% if(darkmode == "true") { %> style="background-color: #111 !important;" <% } %>>
					<div class="col-lg-9 border-right-0 bg-white" <% if(darkmode == "true") { %> style="background-color: #111 !important; border: #111" <% } %>>
						<% if(!(id == 1 && category.title.ar == 'مشروبات الماس')) { %>
							<div class="row no-gutters" >
								<% let food; for(let i=0; i<foods.length; i++){ food = foods[i] %>
									<!-- Item 1 -->
									<div class="col-sm-4 col-6">
										<div class="card">
											<div class="card-body">
												<% if(lang == 'ar') { %>
													<% if(id == 1 && food.category == 4 && (food.title.ar == 'رقبة خروف' || food.title.ar == 'موزة خروف' || food.title.ar == 'فخارة الماس' || food.title.ar == 'كباب الماس')) { %>
														<a href="/restaurants/<%= food.video %>" data-lightbox="iframe" title="<h2 style='color: white; margin-bottom: 14px;'> <%= food.title.ar %></h2> <span style='float:left;' class='badge badge-primary bgcolor'>₪<%= food.price %></span> <p style='font-size: 20px; line-height: 20px;'><%= food.description.ar %></p>"><div class="video-preview-container"><img class="video-preview" src="/restaurants/<%= food.image %>" alt="food Image"><img class="play-icon" src="/restaurants/play-icon.png"></div></a>
														<% } else { %>
														<a href="/restaurants/<%= food.image %>" data-lightbox="image" title="<h2 style='color: white; margin-bottom: 14px;'> <%= food.title.ar %></h2> <span style='float:left;' class='badge badge-primary bgcolor'>₪<%= food.price %></span> <p style='font-size: 20px; line-height: 20px;'><%= food.description.ar %></p>"><img src="/restaurants/<%= food.image %>" alt="food Image"></a>
														<% } %>
													<div class="d-flex justify-content-between align-items-center mt-4 mb-2">
														<p class="card-author"><a href="#"><span <% if(darkmode == "true") { %>  id="darktheme-text" <% } %>><%= category.title.ar %></span></a></p>
														<span class="badge badge-primary bgcolor">₪ <%= food.price %></span>
													</div>
													<h3 class="card-title" style="text-align: center; direction: rtl;" <% if(darkmode == "true") { %>  id="darktheme-text" <% } %>><%= food.title.ar %></h3>
													<h5 class="card-date" style="text-align: right; direction: rtl;" <% if(darkmode == "true") { %>  id="darktheme-text" <% } %>> <% if(food.description.ar != '') { %> <i class="icon-line2-info"></i> <%= food.description.ar %> <% } %> <% if(id == 2 && (food.category == 1 || food.category == 2)) { %> </br> يشمل تشيبس <% } %></h5>
													<br/><div style="direction: rtl; text-align: center;"><form action="/menu/cart/add" method="POST"><input name="cartitem" type="text" value="<%= food.title.ar %>" hidden>
														<input style="margin-right: 1rem; font-size: 12pt; font-weight: bold; border-color: #009de0; background-color: #009de0; border-radius: 30%;" type="submit" value="إضافة"></form></div>
												<% } if(lang == 'he') { %>
													<% if(id == 1 && food.category == 4 && (food.title.ar == 'رقبة خروف' || food.title.ar == 'موزة خروف' || food.title.ar == 'فخارة الماس' || food.title.ar == 'كباب الماس')) { %>
														<a href="/restaurants/<%= food.video %>" data-lightbox="iframe" title="<h2 style='color: white; margin-bottom: 14px;'> <%= food.title.he %></h2> <span style='float:left;' class='badge badge-primary bgcolor'>₪<%= food.price %></span> <p style='font-size: 20px; line-height: 20px;'><%= food.description.he %></p>"><div class="video-preview-container"><img class="video-preview" src="/restaurants/<%= food.image %>" alt="food Image"><img class="play-icon" src="/restaurants/play-icon.png"></div></a>
														<% } else { %>
														<a href="/restaurants/<%= food.image %>" data-lightbox="image" title="<h2 style='color: white; margin-bottom: 14px;'> <%= food.title.he %></h2> <span style='float:left;' class='badge badge-primary bgcolor'>₪<%= food.price %></span> <p style='font-size: 20px; line-height: 20px;'><%= food.description.he %></p>"><img src="/restaurants/<%= food.image %>" alt="food Image"></a>
														<% } %>
													<div class="d-flex justify-content-between align-items-center mt-4 mb-2">
														<p class="card-author"><a href="#"><span  <% if(darkmode == "true") { %>  id="darktheme-text" <% } %>><%= category.title.he %></span></a></p>
														<span class="badge badge-primary bgcolor">₪ <%= food.price %></span>
													</div>
													
													<h3 class="card-title" style="text-align: center; direction: rtl;" <% if(darkmode == "true") { %>  id="darktheme-text" <% } %>><%= food.title.he %></h3>
													<h5 class="card-date" style="text-align: right; direction: rtl;" <% if(darkmode == "true") { %>  id="darktheme-text" <% } %>> <% if(food.description.he != '') { %> <i class="icon-line2-info"></i> <%= food.description.he %> <% } %> <% if(id == 2 && (food.category == 1 || food.category == 2)) { %> </br> כולל צ'יפס <% } %></h5>
													<br/><div style="direction: rtl; text-align: center;"><form action="/menu/cart/add" method="POST"><input name="cartitem" type="text" value="<%= food.title.he %>" hidden>
														<input style="margin-right: 1rem; font-size: 12pt; font-weight: bold; border-color: #009de0; background-color: #009de0; border-radius: 30%;" type="submit" value="הוספה"> </form></div>
													<% } %>
											</div>
										</div>
									</div>
								<% } %>
								<div class="col-12 d-flex justify-content-end p-4">
									<a href="/menu/show/<%= lang %>/<%= id %>" class="button button-circle m-0 tright"><i class="icon-angle-left"></i></a>
								</div>
							</div>
						<% } %>
						<!-- مشروبات الماس (بدون صور) -->
						<% if(id == 1 && category.title.ar == 'مشروبات الماس') { %>
							<div>
							<table style="width: 100%;">
								<% let food; for(let i=0; i<foods.length; i++){ food = foods[i] %>
									<% if(food.category == 9) { %>
										<% if(i == 0) { %>
										<tr style="width:100%; border-bottom:solid;">
										<td class="td-title"> <% if(lang == 'ar') { %> كأس <% } if(lang == 'he') { %> כוס <% } %> </td>
										<td class="td-title"> <% if(lang == 'ar') { %> إبريق <% } if(lang == 'he') { %> כד <% } %> </td>
										<td class="td-title"> <% if(lang == 'ar') { %> مشروبات الماس <% } if(lang == 'he') { %> משקאות אלמאס <% } %> </td></tr>
										<% } %>
										<% if(i == 4) { %>
										<tr style="width:100%; border-bottom:solid;">
										<td class="td-title"> <% if(lang == 'ar') { %> صغير <% } if(lang == 'he') { %> קטן <% } %> </td>
										<td class="td-title"> <% if(lang == 'ar') { %> كبير <% } if(lang == 'he') { %> גדול <% } %> </td>
										<td class="td-title"> <% if(lang == 'ar') { %> مشروبات غازية <% } if(lang == 'he') { %> משקאות מוגזים <% } %> </td></tr>
										<% } %>

										<tr style="width:100%; border-bottom:solid;">
										<td><span class="badge badge-primary bgcolor">₪ <%= food.price.small %></span>
											<div style="direction: rtl; text-align: center;"><form style="margin-bottom: 0;" action="/menu/cart/add" method="POST">
												<input name="cartitem" type="text" value="<% if(lang == 'ar') { %> <%= food.title.ar %> صغير <% } if(lang == 'he') { %> <%= food.title.he %> קטן <% } %>" hidden>
												<input style="margin-right: 1rem; font-size: 12pt; font-weight: bold; border-color: #009de0; background-color: #009de0; border-radius: 30%;" type="submit" value="إضافة"></form></div></td>
										<td><span class="badge badge-primary bgcolor">₪ <%= food.price.large %></span>
											<div style="direction: rtl; text-align: center;"><form style="margin-bottom: 0;" action="/menu/cart/add" method="POST">
												<input name="cartitem" type="text" value="<% if(lang == 'ar') { %> <%= food.title.ar %> كبير <% } if(lang == 'he') { %> <%= food.title.he %> גדול <% } %>" hidden>
												<input style="margin-right: 1rem; font-size: 12pt; font-weight: bold; border-color: #009de0; background-color: #009de0; border-radius: 30%;" type="submit" value="إضافة"></form></div></td>
										<td>
										<% if(lang == 'ar') { %>
										<h3 style="font-size: 12pt !important; width:auto; display:flex; margin-bottom: 0; text-align: right; direction: rtl;" <% if(darkmode == 'true') { %>  id="darktheme-text" <% } %>><%= food.title.ar %></h3>
										<% } if(lang == 'he') { %>
										<h3 style="font-size: 12pt !important; width:auto; display:flex; margin-bottom: 0; text-align: right; direction: rtl;" <% if(darkmode == 'true') { %>  id="darktheme-text" <% } %>><%= food.title.he %></h3>
										<% } %>
										</td>
										</tr>
									<%  } %>
								<% } %>
							</table>
							</div>

							<div class="col-12 d-flex justify-content-end p-4"><form method="POST" action="/menu/show/<%= lang %>/<%= id %>">
								<button href="/menu/show/<%= lang %>/<%= id %>" class="button button-circle m-0 tright" name="backtomenu"><i class="icon-angle-left"></i></button></form>
							</div>
						<% } %>
						<!-- end -->
						</div>
					</div>
				</div>
			</div>

		</section><!-- #content end -->

	</div><!-- #wrapper end -->

<script>
window.addEventListener("load",function() {
    setTimeout(function(){
        // This hides the address bar:
        window.scrollTo(0, 1);
    }, 0);
});
</script>

	<!-- Go To Top
	============================================= -->
	<div class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

</body>
</html>