<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<link rel="stylesheet" href="/dark.css" type="text/css" />

	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="/recipes.css" type="text/css" /> <!-- Theme Custom CSS -->

	<style>
		.card-body {
			padding: 0;
		}
		.icon-line2-info:before {
			content: "\e08b";
		}
		.mfp-title {
			text-align: right;
			padding-left: 18px;
			padding-right: 0px;
			line-height: 0px;
		}
		.badge {
			font-size: 100%;
		}
	</style>

	<!-- Document Title
	============================================= -->
	<% if(lang == 'ar') {%> <title><%= category.title.ar %></title> <% } %>
	<% if(lang == 'he') {%> <title><%= category.title.he %></title> <% } %>
</head>

<body class="stretched dark no-transition">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-parallax page-title-dark" style="background: #111 url('/restaurants/<%= category.image %>') center center / cover; padding: 100px 0;" data-0="background-position:0px -200px;" data-400="background-position:0px -100px;">

			<div class="container clearfix">
				<div class="row">
					<div class="col-md-7">
						<% if(lang == 'ar') {%> <h1 class="nott mb-5" data-animate="zoomIn"><%= category.title.ar %></h1> <% } %>
						<% if(lang == 'he') {%> <h1 class="nott mb-5" data-animate="zoomIn"><%= category.title.he %></h1> <% } %>
					</div>
				</div>
			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content" style="overflow: inherit;" class="dark">

			<div class="content-wrap p-0 dark">

				<div class="recipe-itmes">
					<div class="row no-gutters clearfix">
						<div class="col-lg-9 border-right-0 bg-white">
							<div class="row no-gutters">
								<% for(let i=0; i<foods.length; i++){ let food = foods[i] %>
									<!-- Item 1 -->
									<div class="col-sm-4 col-6">
										<div class="card">
											<div class="card-body">
												<% if(lang == 'ar') { %>
													<a href="/restaurants/<%= food.image %>" data-lightbox="image" title="<h2 style='color: white; margin-bottom: 14px;'> <%= food.title.ar %></h2> <span style='float:left;' class='badge badge-primary bgcolor'>₪<%= food.price %></span> <p style='font-size: 20px; line-height: 20px;'><%= food.description.ar %></p>"><img src="/restaurants/<%= food.image %>" alt="food Image"></a>

													<div class="d-flex justify-content-between align-items-center mt-4 mb-2">
														<p class="card-author"><a href="#"><%= category.title.ar %></a></p>
														<span class="badge badge-primary bgcolor">₪ <%= food.price %></span>
													</div>
													
													<h3 class="card-title"><%= food.title.ar %></h3>
													<h5 class="card-date"><i class="icon-line2-info"></i> <%= food.description.ar %></h5>
													
												<% } if(lang == 'he') { %>
													<a href="/restaurants/<%= food.image %>" data-lightbox="image" title="<h2 style='color: white; margin-bottom: 14px;'> <%= food.title.he %></h2> <span style='float:left;' class='badge badge-primary bgcolor'>₪<%= food.price %></span> <p style='font-size: 20px; line-height: 20px;'><%= food.description.he %></p>"><img src="/restaurants/<%= food.image %>" alt="food Image"></a>

													<div class="d-flex justify-content-between align-items-center mt-4 mb-2">
														<p class="card-author"><a href="#"><%= category.title.he %></a></p>
														<span class="badge badge-primary bgcolor">₪ <%= food.price %></span>
													</div>
													
													<h3 class="card-title"><%= food.title.he %></h3>
													<h5 class="card-date"><i class="icon-line2-info"></i> <%= food.description.he %></h5>
												<% } %>
											</div>
										</div>
									</div>
								<% } %>
								<div class="col-12 d-flex justify-content-end p-4">
									<a href="/menu/show/<%= lang %>/<%= id %>" class="button button-circle m-0 tright"><i class="icon-angle-left"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section><!-- #content end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

</body>
</html>