<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 500px;
	perspective-origin: center center;
}
a {
	text-decoration: none;
}
 #app {
	position: relative;
	max-width: 700px;
	width: 85%;
	height: 90vh;
	border-radius: 3vmin;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
 #app:after {
	 display: block;
	 content: '';
	 background: rgba(0, 0, 0, 0.5);
	 width: 100%;
	 height: 100%;
	 position: absolute;
	 z-index: -1;
	 top: 10%;
	 border-radius: 3vmin;
	 transform-origin: center top;
	 box-shadow: 0 0 10vmin black;
}

 .app__top_block {
	 flex: 1;
	 position: relative;
	 width: 100%;
}
 .app__top_block img {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 120%;
	 height: auto;
	 pointer-events: none;
}
 .app__bottom_block {
	 position: relative;
	 overflow: hidden;
	 width: 100%;
	 height: 70vh;
	 margin-bottom: -70vh;
	 transition: margin 0.4s ease-out;
	 -webkit-transition: margin 0.4s ease-out;
}
 .bottom_block__form {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 height: 100%;
	 border-radius: 3vmin;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 overflow: scroll;
	 transition: 1s linear;
}
 .from__selection {
	 flex: 1;
	 width: 90%;
	 border-radius: 3vmin 3vmin 0 0;
	 padding: 2vmin 0;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
}
 .selection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    width: 92%;
    height: 80px;
    line-height: 8vmin;
    border: 1px solid white;
    text-align: center;
    margin: 1.5vmin 0;
	border-radius: 5vmin;
}

 .btn__submit {
	 position: absolute;
	 right: 0;
	 top: 0;
	 line-height: 5vmin;
	 text-align: center;
	 color: white;
	 font-size: 3.5vmin;
}
.btn {
	 border: none;
 	 color: white;
	 padding: 5pt 30pt;
	 vertical-align: middle;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 16px;
	 margin: 4px 2px;
	 cursor: pointer;
	 border-radius: 10px 10px 10px 10px;
}
 #inspired {
	 position: fixed;
	 right: 0;
	 bottom: 0;
}

.icon {
	border-radius: 100%;
	background-color: #FFF;
    padding: 8px;
    color: #000;
    transform: rotate(0deg);
    transition: transform .5s ease-out;
	height: 40px;
	min-width: 40px;
    max-width: 40px;
}

.icon img {
	max-width: 100%;
}

.category {
	color: #FFF;
    padding-left: 10px;
    font-size: 18px;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.link{
	position: absolute;
	top: 0;
	z-index: 1;	
	height: wrap;
	width: wrap;	
	align-items: center;
	border-radius: 10pt;
}
#link-3{
	background-image: linear-gradient(to bottom, #382f00 40%, #085f1e)
}
#link-4{
	background-image: linear-gradient(to bottom, #085f1e, #382f00)
}
.b_link{
	background-color: inherit;
	padding: 3pt 8pt 3pt 8pt;
	color: white;
	font-size: 14pt;
	font-weight: bold;
	border-radius: 10pt;
	padding-left: 8pt;
	padding-bottom: 20pt;
	padding-right: 8pt;
	text-align: center;
	line-height: 30pt;
	display: inline-block;
}
 
    </style>
    <title><%= menu.colors.business %></title>
</head>
<body  style="background: <%= menu.colors.secondary %>">
	<% if (id == 3) { %>
		<div class="link" id="link-3"><a class="b_link" href="/menu/show/<%= lang %>/<%= 7-id %>">פרסטו</a></div>
	<% } %>	
	<% if (id == 4) { %>
		<div class="link" id="link-4"><a class="b_link" href="/menu/show/<%= lang %>/<%= 7-id %>">מסעדה</a></div>
	<% } %>
	
	<div id="app" style="background-image: linear-gradient(<%= menu.colors.primary %> 0%, <%= menu.colors.secondary %> 100%)"  id="logo">
		<div class="app__top_block"  onclick="showMenu()">
			<img src="/restaurants/<%= menu.logo %>" style="max-width: 200px;"/>
		</div>
		<div class="app__bottom_block" id="buttom">
			<div class="bottom_block__form">
				<div class="from__selection" style="background: <%= menu.colors.secondary %>;">
					<% for(let i=0; i<menu.categories.length; i++){ let cat = menu.categories[i] %>
						<% if(lang == 'ar') { %> 
							<a href="/menu/show/ar/<%= id %>/<%= i %>" class="selection" style="background-image: url('/restaurants/<%= cat.image %>');">
								<div class="icon"><img src="/demos/recipes/images/icons/<%= cat.icon %>.svg" alt="<%= cat.title.ar %>"></div>
								<div class="category"><%= cat.title.ar %></div>
							</a>
						<% } %>
						<% if(lang == 'he') { %>
							<a href="/menu/show/he/<%= id %>/<%= i %>" class="selection" style="background-image: url('/restaurants/<%= cat.image %>');">
								<div class="icon"><img src="/demos/recipes/images/icons/<%= cat.icon %>.svg" alt="<%= cat.title.he %>"></div>
								<div class="category"><%= cat.title.he %></div>
							</a>
						<% } %>
					<% } %>
				</div>
				<div class="btn__submit"></div>
			</div>
		</div>

	</div>
	<div class="btn__submit">
		<% if(lang == 'ar') { %>
		<a style="background: <%= menu.colors.primary %>; <% if(lang == 'he') { %> color:  <%= menu.colors.secondary %> <% } %>" class="btn" href="/menu/show/he/<%= id %>">עברית</a><br/>
		<% } %>
		<% if(lang == 'he') { %>
		<a style="background: <%= menu.colors.primary %>; <% if(lang == 'ar') { %> color:  <%= menu.colors.secondary %> <% } %>" class="btn" href="/menu/show/ar/<%= id %>">عربي</a>
		<% } %>
	</div>
	<script>

		let isHidden = true;

		function showMenu(){
			if(isHidden){
				document.getElementsByClassName('app__bottom_block')[0].style.marginBottom = '0';
			}
			else
				document.getElementsByClassName("app__bottom_block")[0].style.marginBottom = '-70vh';
			isHidden = !isHidden;
		}
	</script>
</body>
</html>